@import '/src/Components/Utilities/utilities';



.project-card {
    width: 100%;
    min-height: 400px;

    .card-wrapper {
        width: 100%;
        max-width: 350px;
        min-height: 480px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;


        .project-img {
            width: 100%;
            height: 320px;
            background-color: #ff7979;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        .project-desc {
            height: 100px;
            background-color: $light-grey;
            background-color: #FEF3F0;
            text-align: center;
            padding: 30px;

            h1 {
                color: $peach;
                text-transform: capitalize;
                margin: 0 0 10px 0;
                font-size: 1.4em;
                font-weight: 400;
                letter-spacing: 4px;
            }

            p {
                margin: 0;
            }

        }

    }

}

@media screen and (max-width: 768px) {
    .project-card {
        width: 100%;
        min-height: 400px;
    
        .card-wrapper {
            width: 100%;
            max-width: 100%;
            min-height: 480px;
            min-height: 520px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;
    
    
            .project-img {
                width: 100%;
                height: 380px;
                background-color: #ff7979;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
            .project-desc {
                height: 100px;
                background-color: $light-grey;
                background-color: #FEF3F0;
                text-align: center;
                padding: 30px;
    
                h1 {
                    color: $peach;
                    text-transform: capitalize;
                    margin: 0 0 10px 0;
                    font-size: 1.4em;
                    font-weight: 400;
                    letter-spacing: 4px;
                }
    
                p {
                    margin: 0;
                }
    
            }
    
        }
    
    }
}