@import '/src/Components/Utilities/utilities';

.cta {
    width: 100%;
    min-height: 292px;
    margin-bottom: -150px;
    z-index: 9 !important;
    position: relative;

    
    &-container {
        z-index: 99 !important;
        width: 100%;
        max-width: 1100px;
        min-height: inherit;
        background-color: $peach;
        border-radius: 15px;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        .three-circle-pattern {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .text-contents {
            max-width: 500px;
            color: white;

            h1 {
                font-size: 3em;
                margin: 0;
                font-weight: 400;
                max-width: 350px;
            }

        }

    }
}

@media screen and (max-width: 1200px) {

    .cta {
        padding: 0 20px;
        box-sizing: border-box;
        
        &-container {
            padding: 0 20px;
            box-sizing: border-box;
        }
    }

}

@media screen and (max-width: 768px) {

    .cta {
        padding: 0 20px;
        box-sizing: border-box;
        
        &-container {
            padding: 0 20px;
            box-sizing: border-box;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 80px 20px;

            .text-contents {
                text-align: center;
                margin-bottom: 30px;

                h1 {
                    font-size: 2.5em;
                    max-width: 500px;
                    text-align: center;
                    line-height: 1em;
                }

            }


        }
    }

}

