@import '/src/Components/Utilities/utilities';

.projects {
    width: 100%;
    min-height: 1000px;
    border: 2px solid blue;
    // position: relative;

    &-container {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        // border: 2px solid red;
        min-height: inherit;

        .section-intro {
            width: 100%;
            min-height: 220px;
            background-color: $peach;
            border-radius: 15px;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .three-circle-pattern {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            h1 {
                margin: 0;
                font-size: 3em;
            }

            p {
                width: 100%;
                max-width: 400px;
                text-align: center;
            }

        }

        .projects-showcase-section {
            width: 100%;
            min-height: 400px;
            // border: 2px solid orange;
            margin-top: 120px;

            .project-wrapper {
                width: 100%;
                max-width: 350px;
                min-height: 478px;
                border-radius: 10px;
                // border: 2px solid darkgoldenrod;
                display: flex;
                flex-direction: column;
                overflow: hidden;


                .project-img {
                    width: 100%;
                    flex: 2;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .project-desc {
                    flex: 1;
                    background-color: $light-grey;
                    // background-color: #FDF3F0;
                    text-align: center;
                    padding: 30px;

                    h1 {
                        color: $peach;
                        text-transform: capitalize;
                        margin: 0 0 10px 0;
                        font-size: 1.8em;
                        font-weight: 400;
                    }

                    p {
                        margin: 0;
                    }

                }

            }

        }


    }

}